<html>
<head>
	<title>Admin Meal Create</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
	..:: EvolutioIT ::..
</nav>
	<h3>
	    Check the available meal options for today:
	</h3>

<div class="container">
	<form method="POST" action="http://{{ .hostAddress }}/admin/create">
		<ul id="meal-list" class="list-group">
        {{ range $i, $dish := .dishes }}
			{{ $checked := "" }}
			{{ if eq $dish.DefaultOn true }}
				{{ $checked = "checked" }}
			{{ end }}
			<li id="dish_{{ $i }}" class="list-group-item" >
				<input type="checkbox" name="dish_{{ $i }}" value="{{ $dish.Name }}" {{$checked}}>
				{{ $dish.Name }}
					{{ if $dish.Type }}
						({{ $dish.Type }})
					{{ end }}
				[{{ $dish.DisplayPrice }}]
			</li>
        {{ end }}
		</ul>
		<button class="btn btn-submit" type="submit">Submit</button>
	</form>
</div>

<script>

	const mealList = document.getElementById('meal-list');
	mealList.addEventListener('click', e => {
		const targetElem = e.target;
		if (targetElem.id !== "") {
			if (targetElem.children.length !== 0) {
				targetElem.children[0].checked = !targetElem.children[0].checked;
			}
		}
	}, false);

	mealList.addEventListener('mouseover', (e) => {
		console.log(e.target);

		const targetElem = document.getElementById(e.target.id);

		// clear all
		for (let i = 0; i < mealList.children.length; i++ ) {
			mealList.children[i].className = 'list-group-item';
		}
		targetElem.className = 'list-group-item list-group-item-primary';


	}, false);

	mealList.addEventListener('mouseleave', (e) => {
		// clear all
		for (let i = 0; i < mealList.children.length; i++ ) {
			mealList.children[i].className = 'list-group-item';
		}
	})

</script>
</body>
</html>