<html>
<head>
    <title>Admin List View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container container-main">


    <h2>Current session user choice list </h2>
    <h3>Order List({{ len .choices }} submits):</h3>
    <ul class="list-group">
        {{ range $i, $choice := .choices }}
        <li class="list-group-item">
            {{ $choice.Username }}:
            {{ $choice.ChosenDish.Name }}
            {{ if $choice.OptionalNote }}
                ({{ $choice.OptionalNote}})
            {{ end }}
            [{{ $choice.ChosenDish.DisplayPrice }}]
        </li>
        {{ end }}
    </ul>

    <h3>Order List</h3>
    Kruh<br />
    {{ range $item := .stackedList }}
        {{ $item }}
        <br />
    {{ end }}


    <h3>Today meal list</h3>

    {{ range $i, $dish := .dishes }}
        {{ $dish.Name }}
        {{ if $dish.Type }}
            ({{ $dish.Type }})
        {{ end }}
        [{{ $dish.DisplayPrice }}]
        <br />
    {{ end }}
</div>

</body>
</html>