<html>
<head>
    <title>Pinjur Meals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <h1>Hello Deer User</h1>
    <h4>If you want to eat something today, please fill in the form</h4>

    <div class="form-group">
        <form method="POST" action="http://{{ .hostAddress }}">
            <label for="username" >Name:</label>
            <input class="form-control" type="text" name="username" value="{{ .name }}" />
            <br />
            <label for="dish">Meal:</label>
            <select name="dish" class="form-control">
                {{ range $dish := .dishes }}
                    <option value="{{$dish.Name}}">
                        {{ $dish.Name }}
                        {{ if $dish.Type }}
                            ({{ $dish.Type }})
                        {{ end }}
                        [{{ $dish.DisplayPrice }}]
                        <br />
                    </option>
                {{ end }}
            </select>
            <br />

            <label for="optional-note">Note:</label>
            <input class="form-control"type="text" name="optional-note" value="" placeholder="prilozi"/>
            <br />
            <button class="btn btn-submit" type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>