<html>
<head>
    <title>Pinjur Meals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    Pinjur Lunch
</nav>

<div class="container">
    <h1>Hello Deer User</h1>
    <h4>If you want to eat something today, please fill in the form</h4>

    <div class="form-group">
        <form id="main-form" method="POST" action="http://{{ .hostAddress }}">
            <label for="name" >Name:</label>
            <input class="form-control" type="text" name="name" value="{{ .name }}" />
            <br />
            <label for="dish">Meal:</label>
            <select name="dish" class="form-control">
                {{ range $dish := .dishes }}
                    <option value="{{$dish.Name}}">
                        {{ $dish.Name }}
                        {{ if $dish.Type }}
                            ({{ $dish.Type }})
                        {{ end }}
                        [{{ $dish.DisplayPrice }}]
                        <br />
                    </option>
                {{ end }}
            </select>
            <br />

            {{/*<ul id="meal-list" class="list-group">*/}}
            {{/*</ul>*/}}

            {{/*<br />*/}}

            <label for="optional-note">Note:</label>
            <input class="form-control"type="text" name="optional-note" value="" placeholder="prilozi"/>
            <br />
            <button class="btn btn-submit" type="submit">Submit</button>
        </form>
    </div>
</div>
<script>
    {{/*const dishes = JSON.parse('{{ .dishesJson }}');*/}}
    {{/*console.log(dishes);*/}}

    {{/*const mealList = document.getElementById('meal-list');*/}}
    {{/*console.log(mealList);*/}}

    {{/*let li = document.createElement('li');*/}}
    {{/*li.className = "list-group-item";*/}}

    {{/*let checkbox = document.createElement('input');*/}}
    {{/*checkbox.type = 'checkbox';*/}}
    {{/*checkbox.id = dishes[0].name;*/}}
    {{/*checkbox.value = dishes[0].name;*/}}

    {{/*let label = document.createElement('label');*/}}
    {{/*label.innerText = dishes[0].name;*/}}
    {{/*label.setAttribute('for', dishes[0].name);*/}}

    {{/*li.appendChild(checkbox);*/}}
    {{/*li.appendChild(label);*/}}

    {{/*mealList.appendChild(li);*/}}

    {{/*console.log(mealList)*/}}
</script>

</body>
</html>